dist
node_modules
.idea
.idea/*

*.exe
vencord_installer

.modules
.DS_Store

yarn.lock
bun.lock
package-lock.json

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.tsbuildinfo

src/userplugins

ExtensionCache/
/settings
